// Float

.is-clearfix
  clearfix()

.is-pulled-left
  float left !important

.is-pulled-right
  float right !important

// Overflow

.is-clipped
  overflow hidden !important

// Overlay

.is-overlay
  overlay()

// Text

.has-text-centered
  text-align center !important

.has-text-left
  text-align left !important

.has-text-right
  text-align right !important

for $name, $pair in $colors
  $color = $pair['1']
  .has-text-{$name}
    color $color
  a.has-text-{$name}
    &:hover,
    &:focus
      color darken($color, 10%)

// Visibility

$displays ?= block flex inline inline-block inline-flex

for $display in $displays
  .is-{$display}
    display $display
  +mobile()
    .is-{$display}-mobile
      display $display !important
  +tablet()
    .is-{$display}-tablet
      display $display !important
  +tablet-only()
    .is-{$display}-tablet-only
      display $display !important
  +touch()
    .is-{$display}-touch
      display $display !important
  +desktop()
    .is-{$display}-desktop
      display $display !important
  +desktop-only()
    .is-{$display}-desktop-only
      display $display !important
  +widescreen()
    .is-{$display}-widescreen
      display $display !important
  +widescreen-only()
    .is-{$display}-widescreen-only
      display $display !important
  +fullhd()
    .is-{$display}-fullhd
      display $display !important

.is-hidden
  display none !important

+mobile()
  .is-hidden-mobile
    display none !important

+tablet()
  .is-hidden-tablet
    display none !important

+tablet-only()
  .is-hidden-tablet-only
    display none !important

+touch()
  .is-hidden-touch
    display none !important

+desktop()
  .is-hidden-desktop
    display none !important

+desktop-only()
  .is-hidden-desktop-only
    display none !important

+widescreen()
  .is-hidden-widescreen
    display none !important

+widescreen-only()
  .is-hidden-widescreen-only
    display none !important

+fullhd()
  .is-hidden-fullhd
    display none !important

// Other

.is-marginless
  margin: 0 !important

.is-vertically-marginless
  margin-top 0 !important
  margin-bottom 0 !important

.is-horizontally-marginless
  margin-left 0 !important
  margin-right 0 !important

.is-paddingless
  padding 0 !important

.is-vertically-paddingless
  padding-top 0 !important
  padding-bottom 0 !important

.is-horizontally-paddingless
  padding-left 0 !important
  padding-right 0 !important

.is-radiusless
  border-radius 0 !important

.is-shadowless
  box-shadow none !important

.is-unselectable
  unselectable()
